<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-auto mx-lg-5">
            <div class="alert alert-danger" role="alert">
              Something Went Wrong !!!
            </div>
        </div>
    </div>
</div>