@model List<ProductImageVM>
@{

}


<div class="container">
    <div class="row">
        <div class="col">
            <h4>Product Images</h4>
            <table>
                <tr>
                    <td>
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Sil</h5>
                                <a href="#" class="btn btn-primary">Set Main Image</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>